version: "3.9"

services:
  api:
    build: .
    container_name: rmd-api
    command: >
      bash -c "make allw5 && uvicorn src.api:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped

  app:
    build: .
    container_name: rmd-app
    command: streamlit run src/app.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    depends_on:
      - api
    restart: unless-stopped
